*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: #313131;/*#2196f3;*/
}

:root{
  --app-bg-color: #fff;
  --app-primary-color: #3f51b5; /* ea0100 */
  --app-text-color: rgba(0, 0, 0, 0.9);
}

#ba_app
{
  position: absolute;
  right: 70px;
  width: 350px;
  height: auto;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: var(--app-bg-color);
  margin-top: 30px;
  border-radius: 32px;
  box-shadow: 0 0 0 0.5px rgba(255,255,255,0.3),
              60px 70px 40px -55px rgba(0,0,0,0.5);
}
#ba_header
{
  position: relative;
  margin-top: 20px;
}

.ba_header_left img
{
  width: 70%;
  position: relative;
  margin-top: 3px;
}

div > i.fa
{
  position: relative;
  top: 2px;
  width: 40px;
  height: 40px;
  font-size: 19px;
  line-height: 40px;
}

/** **/
#ba_header_2
{
  margin-top: 15px;
  color: var(--app-text-color);
}

#ba_header_2 div.name
{
  font-size: 24px;
  font-weight: 700;
}

#ba_header_2 div.caption
{
  font-size: 22px;
  font-weight: 200;
  margin-top: -8px;
}

#ba_header_2 i.fa-plus
{
  background-color: var(--app-primary-color);
  color: #fff;
  border-radius: 100%;
  font-size: 10px;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 24px;
  margin-top: 24px;
}

/** **/
#ba_body_cards
{
  position: relative;
  height: 200px;
  margin-top: 30px;
}

#ba_body_cards img
{
  position: absolute;
  width: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  box-shadow: 0 0 0 0.5px rgba(255,255,255,0.1),
              0 2px 0px 0.5px rgba(0,0,0,0.5),
              0 -1.5px 0 1px rgba(0,0,0,0.2),
              0 -2px 0 1px rgba(0,0,0,0.3);

}

#ba_body_cards img:first-child
{
  transform-origin: bottom left;
  transform: translateX(-50%) rotate(-25deg) scale(0.85);*
}

#ba_body_cards img:nth-child(2)
{
  transform-origin: bottom right;
  transform: translateX(-50%) rotate(25deg) scale(0.85);
}

/** **/
#ba_body_menu 
{
  margin-top: 50px;
}

#ba_body_menu li
{
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
}

#ba_body_menu li i.fa
{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border-radius: 100%;
}

#ba_body_menu li span
{
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.45);
}

#ba_body_menu li:first-child i,
.ba_transfer_color
{
  background-color: rgba(76, 175, 80, 0.15);
  color: rgba(76, 175, 80, 0.9);
}

#ba_body_menu li:nth-child(2) i,
.ba_voucher_color
{
  background-color: rgba(255, 193, 7, 0.15);
  color: rgba(255, 193, 7, 0.9);
}

#ba_body_menu li:nth-child(3) i,
.ba_bill_color
{
  background-color: rgba(156, 39, 176, 0.15);
  color: rgba(156, 39, 176, 0.9);
}

#ba_body_menu li:nth-child(4) i,
.ba_send_color
{
  background-color: rgba(33, 150, 243, 0.15);
  color: rgba(33, 150, 243, 0.9);
}

#ba_body_menu li:last-child i,
.ba_shopping_color
{
  background-color: rgba(255, 87, 34, 0.15);
  color: rgba(255, 87, 34, 0.9);
}

/** **/

#ba_body_transactions
{
  margin-top: 50px;
  padding: 15px 0;
}

#ba_body_transactions .body_title
{
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

#ba_body_transactions .body_title span
{
  font-size: 10px;
  font-weight: 600;
  color: var(--app-primary-color);
  float: right;
  margin-top: 2px;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 50px;
}

#ba_body_transactions li
{
  list-style: none;
}

div.transactions_list
{
  margin-top: 25px;
}

div.transactions_list > div
{
  margin-top: 20px;
}

div.transactions_list .transactions_thumb i
{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border-radius: 100%;
}

div.transactions_list .transaction_title
{
  font-size: 14px;
  font-weight: 600;
  display: block;
  color: var(--app-text-color);
}

div.transactions_list .transaction_caption
{
  font-size: 10px;
  font-weight: 500;
  display: block;
  color: rgba(0,0,0,0.5);
}

div.transactions_list .transaction_amount
{
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: var(--app-text-color);
}

div.transactions_list .transaction_amount i
{
  width: auto;
  margin-left: 5px;
  margin-right: 2px;
}